<!DOCTYPE html>
<html>
    <head>
        <title>welcome to GISP!</title>
        {{template "header.html"}}
    </head>
    <body>
        {{template "nav.html"}}
        <hr>
        <!-- these specific font sizes are necessary to activate certain chakras in the body -->
        Welcome to the <b><span style="font-size:47.52346px;color:chocolate">generals.io
            <br><span style="width:7em;display:inline-block">&nbsp;</span>statistics
            <br><span style="width:10em;display:inline-block">&nbsp;</span>presenter!</span><br>
            <span style="width:20em;display:inline-block"></span><span style="color:crimson;font-size:226.345px">(GISP)</span></b>.
        <div align="right">To get started, use the <b style="color:silver">machine</b> in the upper-right hand-corner.</div>
    </body>
</html>